<div class="container">
  <div class="section-title">
    <h3>Create Item</h3>
  </div>
  <form (ngSubmit)="onSubmit()" #itemCreationForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             required
             [(ngModel)]="item.name"
             name="name"/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description"
                [(ngModel)]="item.description"
                name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number"
             class="form-control"
             id="price"
             required
             [(ngModel)]="item.price"
             name="price"/>
    </div>
    <div class="form-group">
      <label for="stock">Amount of Stock</label>
      <input class="form-control"
             type="number"
             id="stock"
             required
             [(ngModel)]="item.amountOfStock"
             name="stock"/>
    </div>
    <button type="submit" class="btn btn-create" [disabled]="!itemCreationForm.form.valid">CREATE</button>
    <button type="button" class="btn" (click)="goBack()">CANCEL</button>
  </form>
</div>
