<div class="container">
  <div class="section-title">
    <h3>Create Item</h3>
  </div>
  <form (ngSubmit)="onSubmit()" #itemCreationForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             required
             [(ngModel)]="item.name"
             name="name"
             #name="ngModel" />
      <div [hidden]="name.valid || name.pristine" class="errorText">Name is required.</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description"
                [(ngModel)]="item.description"
                maxlength="255"
                name="description"
                #description="ngModel"></textarea>
      <div [hidden]="description.valid || description.pristine" class="errorText">Description has 225 characters max.</div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number"
             class="form-control"
             id="price"
             required
             min="0"
             [(ngModel)]="item.price"
             name="price"
             #price="ngModel"/>
      <div [hidden]="price.valid || price.pristine" class="errorText">Price must be a positive value.</div>
    </div>
    <div class="form-group">
      <label for="stock">Amount of Stock</label>
      <input class="form-control"
             type="number"
             id="stock"
             required
             min="1"
             [(ngModel)]="item.amountOfStock"
             name="stock"
             #stock="ngModel" />
      <div [hidden]="stock.valid || stock.pristine" class="errorText">Stock must be higher than 0.</div>
    </div>
    <button type="submit" class="btn btn-create" [disabled]="!itemCreationForm.form.valid">CREATE</button>
    <button type="button" class="btn" routerLink="/items">CANCEL</button>
  </form>
</div>
